#!KAMAILIO

listen=udp:0.0.0.0:5066
port=5066

debug=2
log_stderror=yes

# تحميل الموديولات
loadmodule "pv.so"
loadmodule "sl.so"
loadmodule "tm.so"
loadmodule "rr.so"
loadmodule "maxfwd.so"
loadmodule "usrloc.so"
loadmodule "registrar.so"
loadmodule "textops.so"
loadmodule "xlog.so"

# إعدادات الموديولات
modparam("usrloc", "db_mode", 0)
modparam("registrar", "method_filtering", 1)

request_route {

    # حماية من الـ Loops
    if (!mf_process_maxfwd_header("10")) {
        sl_send_reply("483", "Too Many Hops");
        exit;
    }

    # 1. معالجة طلبات الـ REGISTER
    if (is_method("REGISTER")) {
        if (save("location")) {
            xlog("L_INFO", "=== [KAMAILIO OK] REGISTER Success for $fu from $si:$sp ===\n");
        } else {
            xlog("L_ERR", "=== [KAMAILIO ERROR] REGISTER Failed for $fu ===\n");
            sl_reply_error();
        }
        exit;
    }

    if (is_method("INVITE")) {
        record_route();
        if (!lookup("location")) {
            xlog("L_WARN", "=== [KAMAILIO WARN] User $rU Not Found in Location ===\n");
            sl_send_reply("404", "Not Found");
            exit;
        }
        xlog("L_INFO", "=== [KAMAILIO OK] Routing INVITE from $fu to $ru ===\n");
        t_relay();
        exit;
    }


    if (is_method("ACK")) {
        if (t_check_trans()) {
            t_relay();
        }
        exit;
    }

    if (is_method("BYE") || is_method("CANCEL")) {
        t_relay();
        exit;
    }

  
    sl_send_reply("501", "Not Implemented");
    exit;
}